*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  /*мой код*/
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

fieldset{
  border:0;
}

input, button{
  cursor: pointer;
  background-color: transparent;
}

.button:focus{
  outline:0;
}

.button:active{
  background-color: #545050;;
}

.button:hover{
  text-decoration: underline;
}

.button:focus-visible{
  outline:3px double #fff;
}

.content {
  display: flex;
  width: 1140px;
  align-items: end;
  column-gap: 30px;
}

.result{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container{
  position:relative;
  width: 711px;
  height:386px;
}

.result__video{
  width: 100%;
  height:100%;
  object-fit: cover;
}

.search-form{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height:54px;
}

.search-form__textfield{
  width: 225px;
  padding-right: 14px;
  appearance: none;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  border:0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.search-form__textfield:active{
  border:1px solid #fff;
}

.search-form__textfield:hover{
  cursor: text;
}

.search-form__textfield:focus, .search-form__label:focus{
  outline: 0;
}

.search-form__label:has(:focus-visible){
  outline: 1px solid #fff;
}

.search-form__fieldset{
  display:inline-flex;
  flex-direction:column;
  gap:5px;
}

.search-form__fieldset-title{
  font-size: inherit;
  font-weight: 400;
}

.search-form__checkbox-list{
  display: inline-flex;
  column-gap: 15px;
  vertical-align: middle;
  width: fit-content;
}

.search-form__pseudo-checkbox{
  display: inline-flex;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::before{
  content: '';
  display: block;
  width: 15px;
  height:15px;
  margin: auto;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before{
  background-color:#fff;
}

.search-form__label{
  padding:1px 0 0 1px;
}

.search-form__label:hover .search-form__label-text{
  text-decoration: underline;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__submit-button{
  width:194px;
  height:34px;
  align-self: end;
}

.button{
  color: inherit;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  border: 1px solid #FFF;
}

.title{
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  font-style: normal;
}

.content__accent{
  color: #545050;
}

.content__details{
  display: flex;
  flex-direction:column;
  row-gap: 26px;
  width:100%;
  height: 100%;
}

.content__list{
  display: flex;
  flex-direction: column;
  gap:30px;
  position: relative;
  height: 298px;
  overflow: auto;
}

.content__card-link{
  display: block;
  text-decoration: none;
  color: #FFF;
  margin: 2px;
}

.content__card-link_current, .content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover{
  text-decoration: underline;
}

.content__card-link:focus{
  outline: 0;
}

.content__card-link:focus-visible{
  outline:1px solid #fff;
}

.content__video-card-title{
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card{
  display:flex;
  align-items: start;
  justify-content: space-between;
}

.content__video-card-thumbnail{
  width:194px;
  height:103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container{
  max-width:100%;
}

.more-button{
  width: 100%;
  height: 34px;
}